.about {
  padding-top: 70px;
  position: relative;
  @media (min-width: 992px) {
    padding-top: 110px;
  }
  @media (min-width: 1200px) {
    padding-top: 120px;
  }

  &:before {
    background-image: url("#{$img-folder}about-bg.svg");
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 70%;
    height: 100%;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    z-index: -1;
    @media (min-width: 768px) {
      width: 50%;
    }
  }

  h2 {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  h6 {
    margin-bottom: 30px;
  }

  //about-text
  &-text {
    margin-top: 50px;
    @media (min-width: 1680px) {
      margin-left: -20px;
    }
    .btn {
      margin-top: 35px;
    }
  }

  //about-details
  &-details {
    margin-top: 150px;
    padding-bottom: 200px;
    @media (min-width: 1200px) {
      margin-top: 335px;
      padding-bottom: 230px;
    }

    //about-list
    &-list {
      @include reset-list;
      display: flex;
      overflow: hidden;
    }

    //about-items
    &-items {
      p {
        line-height: 1;
        min-width: 200px;
      }
      &:not(:last-child) {
        margin-right: 13%;
      }
    }
  }

  //about-form
  &-form {
    position: relative;

    h5 {
      margin-bottom: 50px;
    }

    form {
      margin-top: 55px;
      margin-left: 10px;
    }

    .form {
      &-input-group {
        margin-top: 38px;
      }
      &-btn {
        @media (min-width: 768px) {
          display: flex;
          margin-left: auto;
          width: 29%;
        }
      }
    }

    &:before {
      background-image: url("#{$img-folder}about-form-bg.svg");
      position: absolute;
      content: "";
      top: -330px;
      left: 0;
      width: 100%;
      height: 1793.61px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  //about-modal
  &-modal {
    .modal {
      //modal-dialog
      &-dialog {
        margin: 0;
      }

      &-header {
        height: 30px;
        border-bottom: transparent;
        @media (min-width: 1200px) {
          height: 50px;
        }
        @media (min-width: 1680px) {
          height: 100px;
        }
      }

      &-close {
        color: $c-white;
        font-size: 30px;
        position: absolute;
        right: 15px;
        text-decoration: none;
        cursor: pointer;
        @media (min-width: 1200px) {
          font-size: 50px;
        }
        @media (min-width: 1680px) {
          right: 50px;
        }
      }

      //modal-content
      &-content {
        padding: 0 15px 30px 15px;
        position: relative;
        @media (min-width: 768px) {
          padding: 0 30px 30px 30px;
        }
        @media (min-width: 1200px) {
          padding: 0 50px 50px 50px;
        }
        @media (min-width: 1680px) {
          padding: 0 100px 100px 100px;
        }

        &:before {
          content: "";
          position: absolute;
          background-image: url("#{$img-folder}ellipse-left.svg");
          top: 0;
          left: 0;
          width: 263px;
          height: 199px;
          background-size: cover;
          background-position: left top;
          background-repeat: no-repeat;
        }

        &:after {
          content: "";
          position: absolute;
          background-image: url("#{$img-folder}ellipse-right.svg");
          bottom: 0;
          right: 0;
          width: 260px;
          height: 281px;
          background-size: cover;
          background-position: right bottom;
          background-repeat: no-repeat;
        }

        iframe {
          height: 100%;
          z-index: 2;
          @media (min-width: 1200px) {
            z-index: 0;
          }
        }
      }
    }
  }
}
