.services {
  margin-top: -2px;
  position: relative;

  .animate-tentacles {
    z-index: 1;
    position: absolute;
    top: -71px;
    width: 80%;
    @media (min-width: 768px) {
      top: -121px;
      width: 65%;
    }
    @media (min-width: 1200px) {
      top: -221px;
    }
  }

  //services-slider
  &-slider {
    @include reset-list;

    //services-slider-item
    &-item {
      position: relative;
    }

    //services-slider-img
    &-img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 200px;

      @media (min-width: 768px) {
        width: 50.5%;
        height: 100%;
      }
    }

    //services-slider-text
    &-text {
      padding-top: 150px;
      padding-bottom: 100px;
      position: relative;
      @media (min-width: 1200px) {
        padding-top: 259px;
        padding-bottom: 155px;
      }

      h4,
      h6 {
        margin-bottom: 32px;
      }

      p {
        width: 100%;
        @media (min-width: 768px) {
          width: 45%;
        }
      }

      .btn {
        @media (min-width: 768px) {
          margin-top: 54px;
        }
      }
    }
  }
}
